.popup {
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	visibility: hidden;
	opacity: 0;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s linear, visibility 0.3s linear;
}