.profile__edit-button {
	background-image: url(../../../images/pen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	border: 1px solid white;
	cursor: pointer;
	width: 24px;
	height: 24px;
	align-self: center;
	transition: opacity 0.15s linear;
}

.profile__edit-button:hover {
	opacity: 0.6;
}