.profile__edit-button {
	background-color: black;
	border: 1px solid white;
	cursor: pointer;
	max-width: 24px;
	max-height: 24px;
	align-self: center;
	transition: opacity 0.15s linear;
}

.profile__edit-button:hover {
	opacity: 0.6;
}