.popup__input {
	margin: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	width: 358px;
	margin: 0px 0px 30px 0px;
	font-size: 14px;
	line-height: 16.94px;
	display: block;
	padding: 0px 0px 10px 0px;
}

.popup__input:last-of-type {
	margin: 0px 0px 48px 0px;
}

.popup__input:focus {
	outline-style: none;
}

@media screen and (max-width: 600px) {
	.popup__input:last-of-type {
		margin: 0px 0px 30px 0px;
	}
}


@media screen and (max-width: 535px) {
	.popup__input {
		width: 300px;
	}
}


@media screen and (max-width: 432px) {
	.popup__input {
		width: 238px;
	}
	
	.popup__input:last-of-type {
		margin: 0px 0px 45px 0px;
	}
}