.cards__list {
	margin: 0;
	max-width: 880px;
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 20px;
	column-gap: 17px;
}