.cards__list {
	margin: 0;
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
	grid-template-rows: repeat(auto-fill, 1fr);
	row-gap: 20px;
	column-gap: 17px;
}

@media screen and (max-width: 425px) {
	.cards__list {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		justify-items: center;
	}
}