.profile {
	padding: 77.25px 0px 0px 0px;
	display: flex;
	max-width: 880px;
	justify-content: space-between;
}

@media screen and (max-width: 425px) {
	.profile {
		flex-direction: column;
		align-items: center;
		padding: 69.75px 0px 0px 0px;
	}
}