.popup__save {
	display: block;
	font-size: 18px;
	line-height: 21.78px;
	color: white;
	background-color: black;
	border: none;
	margin: 0 auto;
	padding: 15px 132px;
	border-radius: 2px;
	cursor: pointer;
	transition: opacity 0.15s linear;
}

.popup__save:hover {
	opacity: 0.8;
}

@media screen and (max-width: 535px) {
	.popup__save {
		padding: 10px 100px;
	}
}

@media screen and (max-width: 432px) {
	.popup__save {
		font-size: 14px;
		line-height: 16.94px;
		padding: 14px 82px;
	}
}