.popup__save {
	display: block;
	font-size: 18px;
	line-height: 21.78px;
	color: white;
	background-color: black;
	border: none;
	padding: 0;
	margin: 0 auto;
	padding: 15px 132px;
	border-radius: 2px;
	cursor: pointer;
	transition: opacity 0.15s linear;
}

.popup__save:hover {
	opacity: 0.8;
}