.header {
	position: relative;
}

.header::after {
	content: ' ';
	background-color: #545454;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -41px;
}


@media screen and (max-width: 432px) {
	.header::after {
		bottom: -30px;
		margin: 0px -20px;
		padding: 0px 20px;
	}
}