.popup__close-image {
	
}

@media screen and (max-width: 600px) {
	.popup__close-image {
		max-width: 25px;
		max-height: 25px;
	}
}


@media screen and (max-width: 432px) {
	.popup__close-image {
		max-width: 20px;
		max-height: 20px;
	}
}