.card__like {
	background-image: url(../../../images/like.svg);
	background-repeat: no-repeat;
	width: 28px;
	height: 19px;
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	transition: opacity 0.15s linear;
   text-align: center;
   margin: 0px 0px 5px 5px;
}

.card__like:hover {
	opacity: 0.5;
}

