.profile__wrapper {
	margin: 0px 0px 16px 0px;
	display: flex;
}

@media screen and (max-width: 600px) {
	.profile__wrapper {
		margin: 0px 0px 5px 0px;
	}
}


@media screen and (max-width: 432px) {
	.profile__wrapper {
		margin: 0px 0px 14px 0px;
	}
}