.card__image {
	max-width: 282px;
	max-height: 282px;
	width: 100%;
	flex: 1 1 auto;
	object-fit: cover;
	display: block;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

@media screen and (max-width: 720px) {
	.card__image {
		max-width: 100%;
	}
}

@media screen and (max-width: 432px) {
	.card__image {
		max-width: 282px;
		max-height: 282px;
	}
}