.card {
	max-width: 282px;
	max-height: 361px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 720px) {
	.card {
		max-width: 100%;
	}
}

@media screen and (max-width: 432px) {
	.card {
		min-width: 282px;
	}
}